@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<address>
    <strong>Support:</strong> <a href="mailto:tiwari.kushagra@gmail.com">tiwari.kushagra@gmail.com</a><br />
    <strong>Linkedin:</strong> <a href="https://au.linkedin.com/in/kushagratiwari15">Kushagra Tiwari</a>
</address>
